@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nuckle";
  src: url("/fonts/nuckle/Nuckle-Semibold.woff2") format("woff2"),
    url("/fonts/nuckle/Nuckle-Semibold.woff") format("woff");
  font-weight: 539;
  font-style: normal;
}

body {
  background: rgb(236, 244, 255);
}

footer {
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2),
    rgba(246, 77, 77, 0.2) 100%
  );
}

.hr {
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2),
    rgba(246, 77, 77, 0.2) 100%
  );
}

.custom-arrow {
  background: linear-gradient(270deg, rgb(77, 94, 246), rgb(246, 77, 77) 100%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  color: transparent;
}

.custom-next {
  right: -45px;
}

.custom-prev {
  left: -45px;
}

.slick-dots li button:before {
  font-size: 16px;
  border-radius: 50%;
  color: transparent;
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2),
    rgba(246, 77, 77, 0.2) 100%
  );
}

.slick-dots li.slick-active button:before {
  background: linear-gradient(270deg, rgb(77, 94, 246), rgb(246, 77, 77) 100%);
  color: transparent;
}

@media (max-width: 1000px) {
  .custom-next {
    right: 5px;
  }

  .custom-prev {
    left: 5px;
  }
}

@media (max-width: 768px) {
  .custom-next {
    right: 5px;
  }

  .custom-prev {
    left: 5px;
  }
}

@media (max-width: 480px) {
  .custom-arrow {
    width: 25px;
    height: 25px;
  }

  .slick-dots li button:before {
    font-size: 10px;
  }

  .custom-next {
    right: 5px;
    background: transparent;
  }

  .custom-prev {
    left: 5px;
    background: transparent;
  }
}
